.favorites{
    width: 375px;
    height: 1151px;

    .iconFavorites{
        width: 28px;
        height: 21px;
        display: flex;
        margin: auto;
        
    }
    h2{
        width: 375px;
        height: 29px;
        /* font-family: Montserrat-Bold; */
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    
}